{% extends 'base/base.html' %}

{% block content %}

<div class="container-md">
<h3>Invoice Form</h3>
    <form method="POST">
        {% csrf_token %}
        <!-- Recipient Form -->
        <div class="mx-5 my-3 card">
            <div class="m-2">
                <div class="card-header">
                    <h5>Detials of Recipient</h5>
                </div>
                <div>
                    <label class="form-label">{{rcpt_form.rcpt_name.label}} *</label>
                    {{rcpt_form.rcpt_name}}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">{{rcpt_form.gstin.label}}</label>
                            {{rcpt_form.gstin}}
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">{{rcpt_form.contact_number.label}}</label>
                        {{rcpt_form.contact_number}}
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Address</label>
                            {{rcpt_form.b_address}}
                        </div>
                        <div class="col-md-6">
                            <label class="mt-4"></label>
                            {{rcpt_form.s_address}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Invoice Details Form -->
        <div class="mx-5 my-3  card">
            <div class="m-2">
                <div class="card-header">
                   <h5>Invoice Details</h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">{{inv_det_form.invoice_no.label}} *</label>
                        {{inv_det_form.invoice_no}}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{inv_det_form.invoice_date.label}} *</label>
                        {{inv_det_form.invoice_date}}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{inv_det_form.delivery_date.label}}</label>
                        {{inv_det_form.delivery_date}}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{inv_det_form.invoice_due.label}}</label>
                        {{inv_det_form.invoice_due}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Item Details Form -->
        {{ formset.management_form }}
        <div class="mx-5 my-3  card">
            <div class="m-2">
                <div class="card-header">
                   <h5>Item Details</h5>
                </div>

                {{ item_formset.management_form  }}
                <table>
                {% for item_form in item_formset %}
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">{{item_form.name.label}} *</label>
                        {{item_form.name}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{item_form.description.label}}</label>
                        {{item_form.description}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{item_form.hsn_no.label}}</label>
                        {{item_form.hsn_no}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label class="form-label">{{item_form.price.label}} *</label>
                        {{item_form.price}}
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label class="form-label">{{item_form.quantity.label}} *</label>
                        {{item_form.quantity}}
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label class="form-label">{{item_form.cgst.label}} *</label>
                        {{item_form.cgst}}
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label class="form-label">{{item_form.sgst.label}} *</label>
                        {{item_form.sgst}}
                    </div>
                </div>
                <div>
                    {{item_form.DELETE}}
                </div>
                {% endfor %}
                </table>
            </div>
        </div>
        <!-- TAX FORM -->
        <div class="mx-5 my-3  card">
            <div class="m-2">
                <div class="card-header">
                   <h5>Other Charges</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label">{{extra_form.discount.label}}</label>
                        {{extra_form.discount}}
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">{{extra_form.shipping.label}}</label>
                        {{extra_form.shipping}}
                    </div>
                </div>
            </div>
        </div>
    <button type="submit">Upload</button>
</form>
</div>

{% endblock content %}