{% extends 'base/base.html' %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="mx-5 my-3  card">
            <div class="m-2">
                <div class="card-header">
                    <h5>Item Details</h5>
                </div>
                {{ item_formset.management_form  }}
                {% for item_form in item_formset %}
                    <div class="card mx-2 my-2 form-row">
                        <div class="card-header">
                            <p>Item - <span id="item-counter">1</span></p>
                        </div>
                        <div class="m-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">{{item_form.name.label}} *</label>
                                    {{item_form.name}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">{{item_form.description.label}}</label>
                                    {{item_form.description}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">{{item_form.hsn_no.label}}</label>
                                    {{item_form.hsn_no}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <label class="form-label">{{item_form.price.label}} *</label>
                                    {{item_form.price}}
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label class="form-label">{{item_form.quantity.label}} *</label>
                                    {{item_form.quantity}}
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label class="form-label">{{item_form.cgst.label}} *</label>
                                    {{item_form.cgst}}
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label class="form-label">{{item_form.sgst.label}} *</label>
                                    {{item_form.sgst}}
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-outline-info add-form-row my-2" type="button">Add Item</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        console.log(newElement[0]);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-outline-info').addClass('btn btn-outline-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">Remove Item</span>')
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $.ajax({
    url: "http://127.0.0.1:8000/itemform/", //your url to call
    success: function(){ //your function that is a callback
        $(this).addClass("done");
    }
    });
    const max_form_count = 10
    let form_count = 1
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        if(form_count < max_form_count){
        cloneMore('.form-row:last', 'form');
        form_count++
        return false;
        }
        else{
            alert("Sorry! only 10 items can be inserted at a time");
        }
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        form_count--
        return false;
    });
</script>
{% endblock content %}