<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
          <form class="form-main">
            <div class="form-block">
              <div class="form-group">
                Name
              <input type="text" name="name[]" class="form-control">
              </div>
              <div class="form-group">
                Email
              <input type="text" name="email[]" class="form-control">
              </div>
            </div>
          </form>
          <button class="btn btn-primary add-more-btn">Add</button>
        </div>
      </div>
      </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script>
       $('.add-more-btn').click(function() {
        var clone = $('.form-block:last').clone();
        $('.form-main').append(clone);
        });
    </script>
</body>
</html>